.error{
    color: red;
    animation: error 1s forwards;
}

@keyframes error {
    0%{
        transform: translateX(0px);
    }38%{
        transform: translateX(0px);
    }
    40%{
        transform: translateX(-5px);
    }50%{
        transform: translateX(0px);
    }60%{
        transform: translateX(5px);
    }65%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(0px);
    }
}

.spinner {
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-top: 2px solid white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
